# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
backend/node_modules/
backend/.env
# dependencies
neostore-app/node_modules/
neostore-app/.pnp
neostore-app/.pnp.js

# testing
neostore-app/coverage

# production
neostore-app/build

# misc
neostore-app/.DS_Store
neostore-app/.env.local
neostore-app/.env.development.local
neostore-app/.env.test.local
neostore-app/.env.production.local

neostore-app/npm-debug.log*
neostore-app/yarn-debug.log*
neostore-app/yarn-error.log*